In [1]:
def myfunc(*args):
    return sum(args)

In [12]:
def myfunc(*args):
    a = []
    for num in args:
        if num%2==0:
            a.append(num)
    return a

In [13]:
myfunc(1,2,3,4,5,6,7)

[2, 4, 6]

In [61]:
def myfunc(word):
    letter = []
    for i in range(len(word)):
        if i%2==0:
            letter.append(word[i].upper())
        else:
            letter.append(word[i].lower())
    return ''.join(letter)

In [62]:
myfunc('word')

'WoRd'

In [109]:
def myfunc(name):
    letter = []
    for i in range(len(name)):
        if i%2==0:
            letter.append(name[i].upper())
        else:
            letter.append(name[i].lower())
    return ''.join(letter)

In [110]:
myfunc('abcdefghij')

'AbCdEfGhIj'

In [95]:
ab = 'hello'

In [111]:
def myfunc(word):
    new_word = ''
    index = 1
    for element in word:
        if index % 2 == 0:
            new_word = new_word + element.upper()
        else:
            new_word = new_word + element.lower()
        index +=1
    return new_word

In [112]:
myfunc('abcdefghij')

'aBcDeFgHiJ'

In [13]:
ab.upper()

'HELLO'

In [41]:
ab[0::2].upper()

'HLO'

In [2]:
a = 'Hello World'

In [48]:
for word in a:

SyntaxError: invalid syntax (1737376096.py, line 2)

In [ ]:
while a[1]:
    
    
print(a)

In [52]:
def myfunc(*args):
    ab = []
    for num in args:
        if num%2==0:
            ab.append(num)
    return ab

In [53]:
myfunc(1,2,3,4,5,6,7,8)

[2, 4, 6, 8]

In [40]:
def myfunc(*args):
    return [x for x in args if x%2 ==0]

In [41]:
myfunc(1,2,3,4,5,6,7,8)

[2, 4, 6, 8]