In [1]:
def vol(rad):
    value = (4/3)*3.14*rad**3
    return value

In [2]:
vol(2)

33.49333333333333

In [10]:
def ran_check(num,low,high):
    if num<=high and num>=low:
        print(f'{num} is in the range between {low} and {high}')
    else:
        print('Number is not in range')

In [11]:
ran_check(5,2,7)

5 is in the range between 2 and 7

In [8]:
num = 'abcd'
print(num)

abcd

In [14]:
ran_check(5,8,11)

Number is not in range

In [15]:
def ran_check(num,low,high):
    if num<=high and num>=low:
        #print(f'{num} is in the range between {low} and {high}')
        return True
    else:
        return False

In [16]:
ran_check(5,2,7)

True

In [17]:
ran_check(5,8,11)

False

In [89]:
def up_low(s):
    text = []
    word = []
    #s = list(s)
    #print(s)
    for i in s:
        if i.isupper():
            text.append(i)
        if i.islower():
            word.append(i)
        else:
            pass
    print (len(text))
    print (len(word))
            #i=i+1
            #return len(calculate)

In [90]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

4
33

In [91]:
def up_low(s):
    text = 0
    word = 0
    #s = list(s)
    #print(s)
    for i in s:
        if i.isupper():
            text = text+1
        if i.islower():
            word = word + 1
        else:
            pass
    print (text)
    print (word)
            #i=i+1
            #return len(calculate)

In [92]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

4
33

In [93]:
def up_low(s):
    d = {'Upper':0, 'Lower':0}
    
    for i in s:
        if i.isupper():
            d['Upper'] = d['Upper']+1
        elif i.islower():
            d['Lower'] = d['Lower']+1
        else:
            pass
    print(d['Upper'])
    print(d['Lower'])

In [94]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

4
33

In [14]:
def unique_list(lst):
    return list(set(lst))

In [15]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [20]:
def unique_list(lst):
    x = []
    for i in lst:
        if i not in x:
            x.append(i)
    return x

In [21]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [26]:
def multiply(numbers):
    total = 1
    for i in numbers:
        total = total*i
    return total

In [27]:
multiply([1,2,3,-4])

-24

In [56]:
def palindrome(s):
    #s= s.split()
    s = s.replace(" ","")
    return s == s[::-1]

In [59]:
palindrome('racecar')

True

In [60]:
palindrome('nurses run')

True

In [61]:
palindrome('nurses fun')

False

In [53]:
name = 'Sajal'

In [54]:
name

'Sajal'

In [55]:
name[::-1]

'lajaS'

In [81]:
import string
def ispangram(str1):
    alphabet=string.ascii_lowercase
    alphaset = set(alphabet)
    str1 = str1.replace(' ','')
    str1 = str1.lower()
    str1 = set(str1)
    return str1==alphaset

In [82]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [66]:
ispangram("The quick brown fox over the lazy dog")

False